@media screen and (min-width: 767px){
    #confirmation{
        width: 50dvh;
        height: 40dvh;
        border-radius: 32px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    #confirmation::backdrop{
        background-color: rgba(0, 0, 0, 0.5); 
        backdrop-filter: blur(2px);
    }

    #basket{
        width: 85dvh;
        height: 90dvh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (min-width: 1024px){
    /* #main-content{
        flex: 1;
        min-width: 0;
    } */

    #basket{
        position: sticky;
        top: 5dvh;
        transform: none;
        right: 0;

        width: 420px;
        max-height: 710px;

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 32px;
        padding-right: 32px;
        padding-left: 32px;

        border-radius: 32px;

        z-index: 123;
    }

    #order{
        max-height: 360px;
    }

    #basket .close-icon{
        display: none;
    }

    .dish-header{
        width: 100%;
        padding-left: 150px;
    }

    .dish-header .content{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 36px;
    }

    .dish-icon{
        position: relative;
        left: 0;
        transform: translate(0, 0);

        height: 75px;
    }

    .dish-container{
        width: 100%;
        display: flex;
        align-items: flex-start;
        padding-left: 48px;
    }

    
    .dish{
        display: flex;
        width: 500px;
        gap: 16px;
    }


    .dish-img{
        height: 130px;
        width: 200px;
        flex-shrink: 0;
        object-fit: cover;

        align-self: center;

    }

    .dish-card-content{
        display: flex;
        flex-direction: column;

        height: 100%;
        width: 100%;
    }


    body{
        padding-bottom: 0;
    }

    .landing-icon{
        height: 200px;
    }

    #landing-section .content{
        gap: 78px;
    }

    .landing-img{
        height: 55dvh
    }

    .title{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .rating-icon{
        top: 3px;
    }

    nav{
        display: none;
    }

    .order-card{
        text-align: left;
    }

    #confirmation{
        width: 50dvh;
        height: 40dvh;
        border-radius: 32px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #confirmation::backdrop{
        background-color: rgba(0, 0, 0, 0.5); 
        backdrop-filter: blur(2px);
    }

    .x{
        display: flex;
    }

}

@media screen and (min-width: 1200px){
    .dish-container{
        padding-left: 200px;
    }
}

@media screen and (min-width: 1440px){
    .dish{
        width: 650px;
    }
}